{% extends 'base_generic.html' %}

{% block content %}
	<div class="container mt-3">
		<div class="card">
			<div class="card-body">
				<div class="col">
					<div class="row pr-1 pl-0 py-1 rounded bg-color-secondary-2-0 color-secondary-1-4 justify-items-between">
						<span class="col align-self-end">
							{{ viewed_user.first_name }} {{viewed_user.last_name }}
						</span>
						<span class="col text-right">
							<h3 class="color-complement-0">
								{{ viewed_user.username }}
							</h3>
						</span>
					</div>
					<div class="row p-3">
						<p>
							<strong class="color-secondary-1-2" >about me</strong>
							<br />
							{{ viewed_user.bio }}
							<br />
							<br />
							<strong class="color-secondary-1-2" >birthday: </strong>
							{{ viewed_user.birth_date }}
							<br />
							<strong class="color-secondary-1-2" >hometown: </strong>
							{{ viewed_user.home_town }}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
