{% extends "base_generic.html" %}

{% block content %}
<div class="col flex-height">
	<div class="alert alert-info alert-dismissible fade show" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<strong>Hello, dirtbags!</strong> Welcome to <strong>chlkbag</strong>, a new platform for the ever changing beta of the climbing world. :)
	</div>
	<div id="map">
	</div>
</div>
<script>
	var map;
	var lat;
	var lon;
	var routesByID = { };
	function initialize() {
		getLocation();
	}
	function getLocation() {
		var mapContainer = document.getElementById('map');
		mapContainer.textContent = 'hold on, we\'re checking our pack for the map...';
		function success(position) {
			lat = position.coords.latitude;
			lon = position.coords.longitude;
			map = new google.maps.Map(mapContainer, {
				zoom: 13,
				center: new google.maps.LatLng(lat, lon),
				mapTypeId: google.maps.MapTypeId.TERRAIN
			});
			var route_marker;
			{% for route in routes_nearby %}
				route_marker = new google.maps.Marker({
					position: {lat: {{ route.coordinates.y }}, lng: {{ route.coordinates.x }}},
					map: map
				});
				routesByID[{{route.id}}] = route_marker;
			{% endfor %}
		}
		function error(error) {
			mapContainer.textContent = 'geolocation not available :(';
		}
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(success, error);
		}
	}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbQ1jSCnte95ooVcS0zH5o8AMB_zQVIXI&callback=initialize"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
{% endblock %}
