{% extends "base_generic.html" %}

{% block content %}
<div class="col flex-height px-0 py-0 my-0">
	{% if not user.is_authenticated %}
	<div class="alert alert-info alert-dismissible fade show my-0" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<strong>Hello, dirtbags!</strong> Welcome to <strong>chlkbag</strong>, a new platform for the ever changing beta of the climbing world. :)
	</div>
	{% endif %}
	<div id="map">
	</div>
</div>
<script>
	var map;
	var lat;
	var lon;
	var routesByID = { };
	var areasByID = { };
	var mapContainer = document.getElementById('map');
	function initialize() {
		getLocation();
	}
	function render_context() {
		{% for route in nearby_routes %}
			var route_marker = new google.maps.Marker({
				position: {lat: {{ route.coordinates.y }}, lng: {{ route.coordinates.x }}},
				icon: {
					path: google.maps.SymbolPath.CIRCLE,
					scale: 5,
					strokeWeight: 0,
					fillColor: '#FF0000',
					fillOpacity: 0.75
				},
				map: map
			});
			routesByID[{{ route.id }}] = route_marker;
		{% endfor %}
		{% for area in nearby_areas %}
			var area_coordinates = [
				{% for coord in area.polygon.coords.0 %}
				{lat: {{ coord.1 }}, lng: {{ coord.0 }}} {% if forloop.last %}{% else %},{% endif %}
				{% endfor %}
			];
			var polygon = new google.maps.Polygon({
				paths: area_coordinates,
				strokeColor: '#FF0000',
				strokeOpacity: 0.8,
				strokeWeight: 2,
				fillColor: '#FF0000',
				editable: true,
				fillOpacity: 0.1,
			});
			polygon.setMap(map);
			areasByID[{{ area.id }}] = polygon;
		{% endfor %}
	}
/*	function refresh_context() {
		{% for route in routes_nearby %}	
			routesByID[i{{ route.id }}].setMap(null);
		{% endfor %}
		routesByID = { };
		{% for area in areas_nearby %}
			areasByID[].setMap(null);
		{% endfor %}
		
		areasByID = { };
		render_context();
	}*/
	function get_map_object(lat, lon) {
		map = new google.maps.Map(mapContainer, {
			zoom: 13,
			disableDefaultUI: true,
			center: new google.maps.LatLng(lat, lon),
			mapTypeId: google.maps.MapTypeId.TERRAIN
		});
//		map.addListener('dragend', refresh_context());
	}
	function getLocation() {
		mapContainer.textContent = 'hold on, we\'re checking our pack for the map...';
		function success(position) {
			lat = position.coords.latitude;
			lon = position.coords.longitude;
			get_map_object(lat,lon);
			render_context();
		}
		function error(error) {
			get_map_object(34.743913, -111.055208);
			render_context();
//			mapContainer.textContent = 'geolocation not available :(';
		}
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(success, error);
		}
	}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbQ1jSCnte95ooVcS0zH5o8AMB_zQVIXI&callback=initialize"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
{% endblock %}
